

<div class="masthead">

<hr/>

<div class="container clearfix">

	<span style="margin-right:2rem;display:inline-block;"><a href="https://researchers.mq.edu.au/en/persons/randa-abdel-fattah"><img src="{{site.url}}{{site.baseurl}}/assets/mq200.png"></a></span> <span style="display:inline-block;"><a href="https://researchdata.ands.org.au/discovery-early-career-id-de180101093/1315315/?refer_q=rows=15/sort=score%20desc/class=activity/p=1/q=DE180101093/"><img src="{{site.url}}{{site.baseurl}}/assets/arc200.png"></a></span>

</div>
<div class="container footer" style="margin-top:1rem;margin-bottom:1rem;">
	<a href="https://www.mq.edu.au/about/about-the-university/governance/privacy">Privacy policy</a> &bull; <a href="mailto:Randa.Abdel-Fattah@mq.edu.au">Contact</a>

</div>
<div class="container footer">
	<p>Content and Transcriptions Copyright 2019 Randa Abdel-Fattah and Macquarie University. All Rights Reserved.</p> 
	<p style="text-indent:-1rem;padding-left:1rem;">Cite this page: <br> Sydney High School Students (2019) <i>"{{page.title}}."</i> Trust, Politics and Fear. Ed. Randa Abdel-Fattah. &lt;{{site.url}}{{site.baseurl}}{{page.url}}&gt;</p>
</div>
