

<div class="masthead">

<hr/>

<div class="container">

	<a href="https://researchers.mq.edu.au/en/persons/randa-abdel-fattah"><div style="float: left;"><img src="{{site.url}}{{site.baseurl}}/assets/mq200.png"></div></a> <a href="https://rms.arc.gov.au/RMS/Report/Download/Report/d6b15b2b-3a50-4021-8e6f-6c7ef1cba553/0"><div style="float: left;"><img src="{{site.url}}{{site.baseurl}}/assets/arc200.png"><br>DE180101093</div></a>
</div>
<div class="container">
	<a href="https://www.mq.edu.au/about/about-the-university/governance/privacy">Privacy policy</a> &bull; <a href="mailto:Randa.Abdel-Fattah@mq.edu.au">Contact</a>

</div>
<div class="container">
	Content and Transcriptions Copyright 2019 Randa Abdel-Fattah and Macquarie University. All Rights Reserved.<br>
	Cite this page: Abdel-Fattah, Randa. (2019) <i>"{{page.title}}."</i> Trust, Politics and Fear. &lt;{{site.url}}{{site.baseurl}}{{page.url}}&gt;
</div>
